*{
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  gap: 33px;
  
  background-image: linear-gradient(to bottom, #025953, #023E3D, #012340);
  background-attachment: fixed;
  background-repeat: no-repeat;

  color: var(--text-color);

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

  width: 100vw;
  height: 100vh;  
}

#imgCeu{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100vh;
}  
#imgCeu img{
  align-self: flex-end;
  justify-content: flex-end;
}
  
#contador{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#contador #imgCaneco{
  align-self:flex-end;
  justify-self: center;
}

#contador #imgVela{
  align-self:flex-start;
  justify-self: center;
}

#containerCronometro{  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;

  margin: auto;
}

button{


  
  background-color: #027333;
  color: var(--text-color);

  height: 33.53px;
  width: 52.33px;

  border: 1px solid var(--border-color);
  border-radius: 11px;

  cursor: pointer;
}

#containerButtons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 33px;
}

#containerButtons #iniciar{
  background-image: url(assets/svg/play-circle-twotone.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

}

#containerButtons #parar{
  background-image: url(assets/svg/pause-outline.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

#containerButtons #reiniciar{
  display: flex;

  background-image: url(assets/svg/restart-light.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
